body, html {
    margin: 0;
    background: #091315;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
}


#container {
    width: 85%;
    min-width: 1450px;
    position: relative;
    top: 5%;
    height: 95%;
    margin: 0 auto;
    overflow: hidden;
}

form {
    background: #262e38;
    float: right;
    width: 86%;
    min-width: 1230px;
    height: 100%;
    color: #555;
    overflow-y: auto;
    overflow-x: hidden;
}

/*-----------------------------------------------------------------------------------------

    Navbar

-----------------------------------------------------------------------------------------*/


#nav {
    float: left;
    background: #182129;
    width: 14%;
    height: 100%;
    min-width: 200px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

li {
    margin: 20px 0;
}

    li a {
        text-decoration: none;
        color: #aaa;
    }

form {
    overflow-x: auto;
}

#sl-title {
    color: #262e38;
    margin: 35px 0;
    display: inline;
}


.myGrid {
    width: 85%;
    position: relative;
    margin: 0 auto;
    background-color: #262e38;
    border: none;
    overflow-x: auto;
}

    .myGrid td {
        vertical-align: top;
    }

.header {
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    height: 30px;
}

    .header th {
        color: #3498db;
        font-weight: bold;
        line-height: 40px;
        text-align: left;
        white-space: nowrap;
        padding: 7px 7px;
    }

td, th {
    border: none;
    word-wrap: break-word;
    max-width: 200px;
    -moz-min-width: 70px;
    -ms-min-width: 70px;
    -o-min-width: 70px;
    -webkit-min-width: 70px;
    min-width: 70px;
}


.trow1 {
    background: #182129;
}

.trow2 {
    background: #262e38  ;
}

    .trow1 td, .trow2 td {
        font-size: 14px;
        color: #aaa;
        line-height: 28px;
        text-align: left;
        padding: 12px;
        padding-left: 8px;
    }

.foot td{
    padding: 12px 8px;
}

input[type='text'], select {
    font-family: 'Open Sans', sans-serif; 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    color: #aaa;
    height: 28px;
    padding-left: 5px;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
}

    input[type='text']:hover, select:hover, input[type='text']:focus, select:focus {
        border-color: #45b29d;
    }

#myGridView_addBtn, #btn_back, input[type='submit'] {
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    width: 100px;
    height: 28px;
    margin: 0 10px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #3498db;
}

    #myGridView_addBtn:hover, #btn_back:hover, input[type='submit']:hover {
        background-color: #2980b9;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

#myGridView_addBtn {
    float: right;
    margin: 0;
}

input[type='submit'] {
    width: 80px;
}

.linkBtn {
    width: 17px;
    margin: 0 18px;
    float: right;
}

.reqField {
    font-size: 14px;
    color: #df5a49;
    font-weight: bold;
    padding: 5px;
}