body, html {
    margin: 0;
    background: #091315;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}


#container {
    width: 85%;
    min-width: 1450px;
    position: relative;
    top: 5%;
    height: 95%;
    margin: 0 auto;
    overflow: hidden;
}

#content {
    background: #262e38;
    float: right;
    width: 86%;
    min-width: 1230px;
    height: 100%;
    color: #555;
    overflow-y: auto;
    overflow-x: hidden;
}

#data {
    position: relative;
    bottom: 75px;
    color: #aaa;
}

/*-----------------------------------------------------------------------------------------

    Navbar

-----------------------------------------------------------------------------------------*/


#nav {
    float: left;
    background: #182129;
    width: 14%;
    height: 100%;
    min-width: 200px;
}

ul {
    list-style-type: none;
}

li {
    margin: 20px 0;
}

    li a {
        text-decoration: none;
        color: #aaa;
    }

/*-----------------------------------------------------------------------------------------

    Header

-----------------------------------------------------------------------------------------*/

#header-back {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 1245px;
}

#header {
    position: relative;
    color: #eee;
    bottom: 400px;
    background-color: rgba(52, 152, 219, .6);
    height: 75px;
    min-width: 1245px;
    overflow: hidden;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .3);
}

    #header img {
        width: 65px;
        border-radius: 50%;
        padding: 10px;
        position: relative;
        top: 5px;
        left: 5px;
    }

    #header h3 {
        display: inline;
        font-weight: normal;
        font-size: 20px;
        position: relative;
        bottom: 20px;
    }

#logout {
    float: right;
    color: #3498db;
    text-decoration: none;
    background-color: white;
    padding: 10px 23px;
    border-radius: 20px;
    margin-right: 5%;
    margin-top: 18px;
    font-size: 15px;
}

    #logout:hover {
        background: #3498db;
        color: white;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    #logout:focus { 
        outline: none;
    }

/*-----------------------------------------------------------------------------------------

    Basic Stats

-----------------------------------------------------------------------------------------*/

#basic-stats div {
    border: 3px solid #182129;
    padding: 5px 40px 30px;
    border-right: none;
}

    #basic-stats div:nth-child(4) {
        border-right: 3px solid #182129;
    }


.basic {
    text-align: center;
}

.bStat {
    text-align: center;
    color: #3498db;
    margin: 0;
    font-size: 40px;
}

/*-----------------------------------------------------------------------------------------

    Tweets

-----------------------------------------------------------------------------------------*/


#tweets div:nth-child(1), #tweets div:nth-child(2) {
    border: 3px solid #182129;
    border-top: none;
    border-right: none;
    padding: 15px 40px;
    border-bottom: none;
    min-height: 230px;
    max-height: 230px;
}

#tweets div:nth-child(2) {
    border-right: 3px solid #182129;
}

#tweets a {
    text-decoration: none;
    color: #45b29d;
}

.tweet-title {
    text-align: center;
}

.tweet-text {
    text-align: center;
    font-size: 22px;
    color: #ddd;
}

.tweet-vals {
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid #182129;
}

.val-favs, .val-rts {
    margin-top: 0;
    margin-bottom: 0;
}

.val-type {
    color: #aaa;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 22px;
}

.tweet-favs {
    border-left: 3px solid #182129;
    color: #3498db;
    margin: 0;
}

.tweet-rts {
    color: #3498db;
}

/*-----------------------------------------------------------------------------------------

   Charts

-----------------------------------------------------------------------------------------*/
#wordcloud-cont {
    border: 3px solid #182129;
    border-top: none;
}

#wordcloud-title {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0;
}

#wordcloud {
    position: relative;
    left: 3px;
    border-top: none;
}

#hashtag-cont {
    border-right: 3px solid #182129;
}

#hashtags-title, #mentions-title, #line-title {
    text-align: center;
}

#hashtag-cont, #mentions-cont {
    border-bottom: 3px solid #182129;
}

#mentions-cont {
    position: relative;
    padding-left: 5px;
}

#line-title {
    margin-top: 530px;
}

#monthBtn, #daysBtn {
    position: relative;
    right: 2%;
    float: right;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    border: none;
    color: #3498db;
    background-color: #182129;
    padding: 9px 18px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
    margin: 0 8px;
}

    #monthBtn:hover, #daysBtn:hover {
        background: #3498db;
        color: white;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        cursor: pointer;
    }
    #monthBtn:focus, #daysBtn:focus {
        outline: none;
    }

/*-----------------------------------------------------------------------------------------

   Averages

-----------------------------------------------------------------------------------------*/

#averages div {
    border: 3px solid #182129;
    position: relative;
    top: 280px;
    text-align: center;
    padding: 20px;
    border-left: none;
}

.avg-val {
    margin-top: 0;
    font-size: 42px;
    color: #3498db;
    margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------------

   Donuts

-----------------------------------------------------------------------------------------*/

#donut-cont {
    position: relative;
    top: 277px;
    border-bottom: 3px solid #182129;
}

.donut-title {
    margin-top: 0;
    text-align: center;
}

#donut-hour, #donut-day {
    padding: 30px 0;
    border: 3px solid #182129;
}

#donut-day {
    border-left: none; 
}